<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatic.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.course.model">
    <!--获取登录用户接口case -->
    <select id="loginCase" parameterType="Integer" resultType="com.course.model.LoginCase">
        select * from loginCase
        where id=#{id}
    </select>
    <!--获取添加用户接口case -->
    <select id="addUserCase" parameterType="Integer" resultType="com.course.model.AddUserCase">
        select * from addUserCase where id = #{id}
    </select>
    <!--获取用户信息case -->
    <select id="getUserInfoCase" parameterType="Integer" resultType="com.course.model.GetUserInfoCase">
        select * from getUserInfoCase where id = #{id}
    </select>
    <!--获取用户列表case -->
    <select id="getUserInfoListCase" parameterType="Integer" resultType="com.course.model.GetUserListCase">
        select * from getUserListCase where id = #{id}
    </select>
    <!--更新/删除用户case -->
    <select id="updateUserInfoCase" parameterType="Integer" resultType="com.course.model.UpdateUserInfoCase">
        select * from updateUserInfoCase where id = #{id}
    </select>








</mapper>